.SignUpContainer{
    margin: 40px 10px 10px 10px;
    display: flex; 
    flex-direction: column;
    min-height: 45vh;
    justify-content: space-between;
}

.buttons{
    display: flex;
    flex-direction: column;
}

#signUp{
    font-family: 'Quicksand', sans-serif;
}

.text{
    font-size: 15px;
    font-weight: lighter;
    color: grey;
}

.text span{
    color: #336699;
}

.bottom{
    color: black;
}



